* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
table,
thead,
th,
tr,
td {
  border: 1px solid black;
}
button {
  background-color: green;
  color: white;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: none;
  cursor: pointer;
  outline: none;
}
